{% extends 'base.html' %}


{% block body %}
<div class="container">
  <h1>Faça login ou crie sua conta</h1>
  <hr>

  <div class="row">
    <div class="col">

      <form method="POST" action="" class="border mt-4 p-3">
        {{ form_login.csrf_token }}
        <legend class="mb-3">Login</legend>
        <fieldset>
          <div class="form-group mb-2">
            {{ form_login.email.label(class="form-control-label") }}
            {% if form_login.email.errors %}
              {{ form_login.email(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_login.email.errors %}
                    {{ erro }}
                  {% endfor %}
                </div>
            {% else %}
              {{ form_login.email(class="form-control") }}
            {% endif %}
          </div>
          <div class="form-group mb-2">
            {{ form_login.senha.label(class="form-control-label") }}
            {% if form_login.senha.errors %}
              {{ form_login.senha(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_login.senha.errors %}
                    {{ erro }}
                  {% endfor %}
                </div>
            {% else %}
              {{ form_login.senha(class="form-control") }}
            {% endif %}
          </div>
          <div class="form-group mb-2">
            {{ form_login.lembrar_dados.label(class="form-check-label") }}
            {{ form_login.lembrar_dados(class="form-check-input ms-2") }}
          </div>
        </fieldset>

        {{ form_login.botao_submit_login(class="btn btn-primary mt-4") }}
      </form>

    </div>

    <div class="col">

      <form method="POST" action="" class="border mt-4 p-3">
        {{ form_criarconta.csrf_token }}
        <legend class="mb-3">Criar Conta</legend>

        <fieldset>
          <div class="form-group mb-2">
            {{ form_criarconta.nome.label(class="form-control-label") }}
            {% if form_criarconta.nome.errors %}
              {{ form_criarconta.nome(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_criarconta.nome.errors %}
                    {{ erro }}
                  {% endfor %}
                </div>
            {% else %}
              {{ form_criarconta.nome(class="form-control") }}
            {% endif %}
          </div>
          <div class="form-group mb-2">
            {{ form_criarconta.email.label(class="form-control-label") }}
            {% if form_criarconta.email.errors %}
              {{ form_criarconta.email(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_criarconta.email.errors %}
                    {{ erro }}
                  {% endfor %}
                </div>
            {% else %}
              {{ form_criarconta.email(class="form-control") }}
            {% endif %}
          </div>
          <div class="form-group mb-2">
            {{ form_criarconta.senha.label(class="form-control-label") }}
            {% if form_criarconta.senha.errors %}
              {{ form_criarconta.senha(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for erro in form_criarconta.senha.errors %}
                    {{ erro }}
                  {% endfor %}
                </div>
            {% else %}
              {{ form_criarconta.senha(class="form-control") }}
            {% endif %}
          </div>
          <div class="form-group mb-2">
            {{ form_criarconta.confirmacao_senha.label(class="form-control-label") }}
            {{ form_criarconta.confirmacao_senha(class="form-control") }}
          </div>
        </fieldset>

        {{ form_criarconta.botao_submit_criarconta(class="btn btn-primary mt-4") }}
      </form>

    </div>

  </div>

</div>
{% endblock %}